.lousa{
    margin: 100px;
}
.controleA{
    position: absolute;
    top: 180px;
    left: 167px;
    right: 8px;
    bottom: 6px;
    width: 158px;
    height: 43px
}
.controleB{
    position: absolute;
    top: 280px;
    left: 167px;
    right: 8px;
    bottom: 6px;
    width: 158px;
    height: 43px
}
.controleC{
    position: absolute;
    top: 380px;
    left: 167px;
    right: 8px;
    bottom: 6px;
    width: 158px;
    height: 43px
}
.botao{
    position: absolute;
    top: 500px;
    left: 428px;
    right: 8px;
    bottom: 6px;
    width: 158px;
    height: 43px;
}
.ok{
    position: absolute;
    top: 300px;
    left: 600px;
    right: 8px;
    bottom: 300px;
    width: 158px;
    height: 43px;
    color: snow;
}
.oks{
    position: absolute;
    top: 350px;
    left: 600px;
    right: 8px;
    bottom: 300px;
    width: 158px;
    height: 43px;
    color: snow;
}